body {
  background-color: Powderblue;
}

h1 {
  color: Blue;
  margin: auto;
  width: 60%;
  border: 3px solid Aquamarine;
  padding: 10px;
  text-align: center;
  font-family: Lobster;
}

p {
  margin: auto;
  text-align: center;
}

button {
  margin: 2px;
  width: 100px;
  border-radius: 12px;
  border: 3px solid AntiqueWhite;
  padding: 10px;
  text-align: center;
  font-family: Lobster;
  font-size: 1.2em;
}

footer {
  font-family: Lobster;
}

.card {
  width: 70px;
}

.pfloat {
  float: right;
}

.upbox {
  background-color: grey;
  margin-bottom: 70px;
  float: top;
}

.downbox {
  background-color: grey;
  float: right;
}

.pini {
  background-color: grey;
  border: 3px solid DarkGrey;
}

.dpBox {
  overflow: auto;
  padding: 10px 2% 10px 2%;
  border: 3px solid AliceBlue;
}

#dBox {
  margin-left: 0px;
  background-color: Bisque;
  border: 3px solid Cornsilk;
  padding: 20px;
  text-align: center;
  float: left;
  width: 40%;
}

#pBox {
  background-color: BlanchedAlmond;
  border: 3px solid Cornsilk;
  padding: 20px;
  float: right;
  text-align: center;
  width: 50%;
}

#rBox {
  background-color: Beige;
  margin: auto;
  border: 3px solid Azure;
  padding: 10px;
  text-align: center;
}

#wrapper {
  overflow: auto;
  margin: auto;
  width: 80%;
  border: 3px solid BlueViolet;
  padding: 10px 100px 10px 100px;
  text-align: center;
}

footer {
  margin-top: 5px;
  margin-left: 20px;
}
